.faq-wrapper{
    .faq-item{
        
        .faq-title{
            font-size: 20px;
            font-weight: 500;
            margin-bottom: 10px;
        }
        .faq-body{
            
        }
    }
}