

.policy-page{

    h1, h2, h3, h4{
        font-weight: bold;
        
    }
    h1{
        font-size: 36px;
        margin-top: 35px;
        margin-bottom: 20px;
    }
    h2{
        font-size: 32px;
        // margin-top: 35px;
        // margin-bottom: 20px;
    }
    
    h3{
        font-size: 28px;
        
    }
    h4{
        font-size: 24px;
        
    }
    
    ul{
        li{
            strong{
    
            }
            p{
    
            }
            a{
    
            }
        }
    }
    

}    
